@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Roboto', sans-serif;
}

.body--scroll {
  overflow-y: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1147px;
  padding: 0 15px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 133.69%;
  color: #1F2E35;
}

/*--------------------*/
.header {
  padding: 22px 0;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__abbr {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.05em;
  color: #85171A;
}

.letter-1 {
  color: #85171A;
}
.letter-2 {
  color: #DC2025;
}
.letter-3 {
  color: #FEBA08;
}

.logo__fullname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.logo__fullname a {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.43;
  letter-spacing: 0.065em;
  color: rgba(0, 0, 0, 0.6);
}
.logo__fullname a:last-child {
  color: #263238;
}

.header.fix {
  background-color: #eb777a;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 100;
  top: 0;
}

.header.hidden {
  display: none;
  visibility: none;
  opacity: 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  font-size: 18px;
  color: #1F2E35;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.nav__link:hover {
  opacity: 1;
}

.header__link:not(:last-child) {
  margin-right: 24px;
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 99;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.mobile-nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-nav-button {
  display: none;
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 999;
  width: 40px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-nav-button__icon {
  display: block;
  position: relative;
  width: 40px;
  height: 5px;
  background-color: #000000;
}
.mobile-nav-button__icon::after, .mobile-nav-button__icon::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background-color: #000000;
  -webkit-transition: top 0.15s ease-in 0.15s;
  transition: top 0.15s ease-in 0.15s;
  -webkit-transition: top 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in;
  transition: top 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in;
  transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
  transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in;
}
.mobile-nav-button__icon::before {
  left: 0;
  top: -10px;
}
.mobile-nav-button__icon::after {
  left: 0;
  top: 10px;
}

.mobile-nav-button__icon.active {
  background-color: transparent;
}
.mobile-nav-button__icon.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in 0.15s;
}
.mobile-nav-button__icon.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in 0.15s;
}

.technology {
  padding: 110px 0 160px 0;
}

.tech.fix {
  padding-top: 210px;
}

.tech__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info > *:not(:last-child) {
  margin-bottom: 24px;
}

.info__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.33;
  color: #1F2E35;
}
.info__title span {
  color: #EE4248;
}

.info__desc {
  font-size: 20px;
  line-height: 1.45;
  color: #30444E;
}

.info__btn {
  width: 161px;
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 20px;
  color: #FFFFFF;
  padding: 0 32px;
  background: #EE4248;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.intro {
  padding: 57px 0 63px 0;
  background-color: #F7F7F7;
}

.intro__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__pic source,
.intro__pic img {
  background-color: transparent;
}

.intro__text {
  max-width: 520px;
}
.intro__text > *:not(:last-child) {
  margin-bottom: 24px;
}

.intro__title span {
  color: #EE4248;
}

.intro__desc {
  font-size: 18px;
  line-height: 150%;
  color: #30444E;
}
.intro__desc > *:not(:last-child) {
  margin-bottom: 40px;
}
.intro__desc-text1 span, .intro__desc-text2 span {
  color: #EE4248;
}

.offers {
  padding: 116px 0 106px;
}

.offers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.offers__title {
  text-align: center;
  margin-bottom: 17px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 363px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 20px 4px 24px;
}
.item:not(:last-child) {
  margin-right: 9px;
}

.item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.item__content > * {
  margin-bottom: 15px;
}

.offer__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.33;
  color: #EE4248;
}

.offer__desc {
  font-size: 18px;
  line-height: 1.5;
  color: #30444E;
}

.offer__btn {
  width: 119px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 16px;
  font-size: 18px;
  background: #EE4248;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #ffffff;
}

.contacts {
  padding: 28px 0 24px;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.company__address {
  margin-right: 47px;
}

.company__logo {
  margin-bottom: 10px;
}

.company__title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #263238;
}

.company__place {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.49;
  color: #263238;
}

.contact__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666;
  color: #263238;
  margin-bottom: 15px;
}

.getintouch {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.49;
  color: #263238;
}
.getintouch a {
  color: #263238;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.getintouch a:hover {
  text-decoration: underline;
  color: #000000;
}

.footer {
  background-color: #EE4248;
  padding: 22px 0 21px;
}

.footer__copyright {
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}

@media (max-width: 992px) {
  .mobile-nav-button {
    display: block;
  }

  .nav,
  .header__links {
    display: none;
  }

  .mobile-nav__item:not(:last-child) {
    margin-bottom: 18px;
  }
  .mobile-nav__link {
    color: #000000;
    font-size: 21px;
  }
  .mobile-nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-nav__links > *:not(:last-child) {
    margin-right: 15px;
  }
}

/*# sourceMappingURL=main.css.map */