.header {
	padding: 22px 0;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.header__row {
	@include flex(space-between, center);
}


.logo {
	@include flex(flex-start, center);
}

.logo__abbr {
	font-weight: 900;
	font-size: 48px;
	line-height: 56px;
	letter-spacing: -0.05em;
	color: #85171A;
}

.letter {
	&-1 {
		color: #85171A;
	}

	&-2 {
		color: $red;
	}

	&-3 {
		color: #FEBA08;
	}
}

.logo__fullname {
	display: flex;
	flex-direction: column;

	a {
		font-weight: 500;
		font-size: 10px;
		line-height: 1.43;
		letter-spacing: 0.065em;
		color: rgba(0, 0, 0, 0.6);

		&:last-child {
			color: $dark-blue;
		}
	}



}

.header.fix {
	background-color: lighten($red, 20%);
	transition: background-color 0.2s ease-in;
	position: fixed;
	width: 100%;
	left: 0;
	z-index: 100;
	top: 0;
}

.header.hidden {
	display: none;
	visibility: none;
	opacity: 0;
}

.nav__list {
	@include flex(flex-start, center);
}

.nav__item {
	&:not(:last-child) {
		margin-right: 50px;
	}
}

.nav__link {
	font-size: 18px;
	color: $main;
	opacity: 0.8;
	transition: opacity 0.2s ease-in;

	&:hover {
		opacity: 1;
	}

	&--arrow {
		padding-right: 21px;
		background-image: url('./../img/arrow.svg');
		background-position: center right;
		background-repeat: no-repeat;
	}
}


.header__link {
	&:not(:last-child) {
		margin-right: 24px;
	}
}


.mobile-nav {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $white;
	z-index: 99;
	align-items: center;
	flex-direction: column;
	padding: 40px 15px;
	justify-content: space-between;
	text-align: center;
}

.mobile-nav.active {
	display: flex;
}

.mobile-nav-button {
	display: none;
	cursor: pointer;
	padding: 0;
	border: none;
	background: transparent;
	position: fixed;
	top: 30px;
	right: 20px;
	z-index: 999;
	width: 40px;
	height: 30px;
	justify-content: center;
	align-items: center;

	&__icon {
		display: block;
		position: relative;
		width: 40px;
		height: 5px;
		background-color: $black;

		&::after,
		&::before {
			content: "";
			position: absolute;
			width: 40px;
			height: 5px;
			background-color: $black;
			transition: top 0.15s ease-in 0.15s;
			transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
		}

		&::before {
			left: 0;
			top: -10px;
		}

		&::after {
			left: 0;
			top: 10px;
		}
	}
}

.mobile-nav-button__icon.active {
	background-color: transparent;

	&::before {
		transform: rotate(45deg);
		top: 0;
		transition: top 0.15s linear, transform 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in 0.15s;
	}

	&::after {
		transform: rotate(-45deg);
		top: 0;
		transition: top 0.15s linear, transform 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in 0.15s;
	}
}